  /* Disciplinas */

  .disciplinasDiv {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.disciplina {
    display: block;
    background-color: #1A4789;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    width: 20vh;
    height: 30vh;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Horta';
}
.disciplina:hover {
    background-color: #Cd16bc;
}

#disciplinas h1 {
    margin: 0;
}

.disciplina h1 {
    margin: 0;
}

#mtm-logo {
    height: 20vh;
}

#prt-logo {
    height: 20vh;
}

#cnc-logo {
    height: 20vh;
}