/* FONTES */
@font-face {
    font-family: 'Horta';
    src: url('assets/fontes/Horta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gliker Regular';
    src: url('assets/fontes/Gliker/Gliker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Bold';
    src: url('assets/fontes/Gliker/Gliker-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* GERAL */
body {
    font-family: 'Gliker Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #1A4789;
}

/* HEADER */
header {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Gliker Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    order: 1; /* Coloca a logo (imagem) na primeira posição */
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 70px;
    margin-right: 10px;
    height: 50px; /* Altura da imagem ajustada */
    width: auto; /* Largura ajustada automaticamente para manter a proporção */
}

nav {
    order: 3;
    overflow: hidden;
    display: flex;
}

nav a {
    display: block;
    color: #1A4789;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 30px;
}

nav a:last-child {
    margin-right: 70px;
}

nav a:first-child {
    margin-left: 0; 
}

nav::after {
    content: ''; 
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    width: 1px; 
    height: 30px; 
    /* background-color: #ccc;*/
}

#nav-button-entrar {
    box-shadow: none;
    font-family: 'Gliker Regular';
    color: #1A4789;
    padding: 1em;
    border-radius: 15px;
}

#nav-button-entrar:active{
    box-shadow: none;
  }

#nav-button-entrar:before{
    box-shadow: none;
  }

#nav-button-entrar:hover {
    color: #ffffff;
  }

#nav-buttons{
    box-shadow: none;
    font-family: 'Gliker Regular';
    color: #1A4789;
    padding: 1em;
    border-radius: 15px;
  }

  #nav-buttons:active{
    box-shadow: none;
  }

  #nav-buttons:before{
    box-shadow: none;
  }

  #nav-buttons:hover {
    color: #ffffff;
  }

.container {
    padding: 20px;
}

.menu-icon {
    display: none;
}

/* HOME-PAGE */

/* PRIMEIRA SECTION */
.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-content {
    text-align: center;
    color: #1A4789;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.welcome-content h1 {
    font-size: 5em;
    margin-bottom: 20px;
    font-family: 'Horta';
}

.welcome-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 0;
}

#cta-button {
    font-family: 'Gliker Regular';
    padding: 15px 30px;
    font-size: 18px;
    color: #1A4789;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 30vh;
    margin-bottom: 20px;
}

#cta-button:hover {
    color: #ffffff;
}

.welcome-section img {
    width: 90%;
}
/* FIM PRIMEIRA SECTION */

/*seção 2(homepage) */
.homepg-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to bottom, #18baff, #15aaeb);
}

/* seção 3(homepage) */ 
.homepg-s3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to bottom, #15aaeb, #026cc4);
}

#homepg-disc h1 {
    color: #ffffff;
}

#homepg-disc p {
    color: #ffffff;
}


/* seção 4(homepage) */
.homepg-s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: linear-gradient(to bottom, #026cc4, #01639c)
}

/* seção 5(homepage) */
.homepg-s5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: linear-gradient(to bottom, #01639c, #0e3b7e)
}

/* seção 6 (homepage) */
.homepg-s6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: linear-gradient(to bottom, #0e3b7e, #09234b);
    margin-bottom: 0;
}

/* efeito de onda na home page */
.wave {
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 7%;
    
}
.wave path {
    fill: url(#waveGradient);
}

/* botão disciplinas e outros na home page */
.buttondisc {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: none;
    width: 50%;
  }
  
  .buttondisc:active {
    color: #ffffff;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .buttondisc:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .buttondisc:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #1A4789;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .buttondisc:hover {
    color: #ffffff;
    border: none;
  }
  
  .buttondisc:hover:before {
    top: -35%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .buttondisc:hover:after {
    top: -45%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

#button-disciplinas {
    font-family: "Gliker Regular" ;
    color: #1A4789;
}

#button-disciplinas:hover {
    color: #ffffff;
}



/* FOOTER */
footer {
    background-color: #ffffff;
    color: #1A4789;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#footer p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-size: 1em;
}

/* PÁGINA DE LOGIN */
#login-body {
    background-color: #1A4789;
}

#login-box {
    background-color: #1A4789;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#login-div {
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    height: 50%;
}

#header-escuro {
    background-color: #1A4789;
}

#header-escuro nav a {
    color: #ffffff;
}

.login {
    margin-bottom: 15px;
    width: 100%;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.login input::placeholder {
    color: #c2c0c0;
}

#login-box h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
}

#usuario {
    font-family: 'Gliker Regular', Arial, sans-serif;
    width: 100%;
}

#senha {
    font-family: 'Gliker Regular', Arial, sans-serif;
    width: 100%;
}

#entrar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #Cd16bc;
    color: white;
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#entrar:hover {
    background-color: #720c68;
}

.esqueceuSenha {
    color: #ffffff;
    font-family: 'Gliker Regular';
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.semCadastro {
    color: #ffffff;
    font-family: 'Gliker Regular';
    text-decoration: none;
    display: block;
    text-align: center;
    align-items: center;
}

/* Apoia.html */
#apoia {
    margin-left: 80px;
    margin-right: 80px;
}

#apoia h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#apoia p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-weight: normal;
}

/* pag de registro*/

#register-box {
    display: flex;
    background-color: #1A4789;
    width: 100%;
    text-align: left;
    justify-content: center;
    min-height: 100vh;
    color: #ffffff;
}

#register-div {
    margin: 40px;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}

#register-box h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Horta', Arial, sans-serif;
    font-size: 3em;
    box-sizing: border-box;
}
.campos-registro {
    margin-bottom: 15px;
    text-align: left;
    box-sizing: border-box;
}

.campos-registro label {
    display: block;
    margin-bottom: 5px;
}

.campos-registro input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.campos-registro input::placeholder {
    color: #c2c0c0;
}

#botao-registro {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #Cd16bc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#botao-registro:hover {
    background-color: #720c68;
}

#fullname,
#email,
#usuario-rg,
#senha-rg,
#confirmar-senha,
#botao-registro {
    font-family: 'Gliker Regular', Arial, sans-serif;
}

/* PÁGINA DE CONTATO */
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.company-card {
    width: auto;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
}

.company-card img {
    height: 300px;
}

.company-card h1 {
    font-family: 'Horta';
}

#company-social-links {
    display: flex;
    justify-content: center;
}

.developers-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.developer-card {
    width: 200px;
    background-color: #1A4789;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    transition: transform 0.8s, max-height 0.8s ease-in-out;
    max-height: 300px;
    border-radius: 30px;
    overflow: hidden;
}

.developer-card img {
    width: 80%;
    border-radius: 50%;
}

.developer-card .social-links {
    display: none;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.8s, height 0.8s ease-in-out, visibility 0.8s;
    height: 0;
}

.developer-card:hover .social-links {
    display: block;
    visibility: visible;
    height: auto;
    opacity: 1;
}

.developer-card:hover {
    transform: scale(1.05);
    max-height: 500px;
}

.social-links a {
    margin: 10px;
    text-decoration: none;
    color: #1A4789;
    display: block;
}

.social-links a:hover {
    color: #0077b5;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    font-family: Arial, sans-serif;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100%;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-card-front {
    background-color: #1A4789;
    color: #ffffff;
  }

  .flip-card-front img {
    width: 80%;
    border-radius: 50%;
  }
  
  .flip-card-back {
    display: flex;
    background-color: #ffffff; 
    color: #1A4789;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
  }

  .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 100%;
  }
  
  .button2:active {
    color: #ffffff;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #1A4789;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: none;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #linkedinButton:hover:after{
    background-color: #0e76a8;
  }

  #linkedinButton:active{
    background-color: #0e76a8;
  }

  #githubButton:hover:after{
    background-color: #171515;
  }

  #githubButton:active{
    background-color: #171515;
  }

  #instagramButton:hover:after{
    background-color: #DD2A7B;
  }

  #instagramButton:active{
    background-color: #DD2A7B;
  }

  /* Disciplinas */

.disciplinasDiv {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.disciplina {
    display: block;
    background-color: #1A4789;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    width: 20vh;
    height: 30vh;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Horta';
}
.disciplina:hover {
    background-color: #Cd16bc;
}

#disciplinas h1 {
    margin: 0;
}

.disciplina h1 {
    margin: 0;
}

#mtm-logo {
    height: 20vh;
}

#prt-logo {
    height: 20vh;
}

#cnc-logo {
    height: 20vh;
}

/* Perfil */

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 24px;
    margin: 10px 0 5px 0;
}

.profile-bio {
    font-size: 14px;
    color: #777;
}

.profile-details {
    margin-top: 20px;
}

.details-header {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    font-size: 14px;
    color: #333;
}

.details-content.expanded {
    max-height: 500px; /* Ajuste conforme necessário */
    padding: 10px 0;
}

.arrow-down {
    transition: transform 0.3s;
}

.arrow-up {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

/* Conquistas */

.achievements-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.achievements-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.achievement-item:hover {
    transform: scale(1.05);
}

.achievement-icon {
    width: 100px;
    height: 100px;
}

.achievement-name {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* matematica niveis */
/* Níveis: Básico */
.levelsb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.levelb {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.levelb:hover {
    background-color: #CD16BC ;
}

.levelb.selected {
    background-color: #921285 ;
}

.mtmbasico {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Níveis: Intermediário */
.mtminter {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.levelsI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.levelI {
    background-color: #1A4789;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.levelI:hover {
    background-color: #CD16BC ;
}

.levelI.selected {
    background-color: #921285 ;
}

/*Níveis: Avançado */
.mtmavan {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.levelsA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.levelA {
    background-color: #133364;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.levelA:hover {
    background-color: #6e0c65 ;
}

.levelA.selected {
    background-color: #921285 ;
}