/* FONTES */
@font-face {
    font-family: 'Horta';
    src: url('assets/fontes/Horta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gliker Regular';
    src: url('assets/fontes/Gliker/Gliker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Bold';
    src: url('assets/fontes/Gliker/Gliker-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* GERAL */
body {
    font-family: 'Gliker' ,Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #15AAEB;
    color: #ffffff;
}

/* HEADER */
header {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Gliker Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    order: 1; /* Coloca a logo (imagem) na primeira posição */
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 70px;
    margin-right: 10px;
    height: 50px; /* Altura da imagem ajustada */
    width: auto; /* Largura ajustada automaticamente para manter a proporção */
}

nav {
    order: 3;
    overflow: hidden;
    display: flex;
}

nav a {
    display: block;
    color: #1A4789;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 30px;
}

nav a:last-child {
    margin-right: 70px;
}

nav a:first-child {
    margin-left: 0; 
}

nav::after {
    content: ''; 
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    width: 1px; 
    height: 30px; 
    /* background-color: #ccc;*/
}

nav a:hover {
    background-color: #15386c;
    color: white;
    border-radius: 30px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
    padding: 20px;
}

/* PRIMEIRA SECTION */
.welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section img {
    height: 40vh;
}

/* SOBRE NÓS */
#about {
    margin-left: 80px;
    margin-right: 80px;
}

#about h1 {
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#about p {
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-weight: normal;
}

/* CONTATO */
#contact {
    margin-left: 80px;
    margin-right: 80px;
}

#contact h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#contact p{
    font-family: 'Gliker', Arial, sans-serif;
    font-weight: normal;
}

/* FOOTER */
footer {
    background-color: #1A4789;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#footer p{
    font-family: 'gliker', Arial, sans-serif;
    font-size: 1em;
}

/* PÁGINA DE LOGIN */
#login-body {
    background-color: #ffffff;
}

#login-box {
    background-color: #1A4789;
    color: white;
    width: 100%;
    height: 80vh;
}

#login-body footer {
    background-color: #ffffff;
    color: #1A4789;
}