/* FONTES */
@font-face {
    font-family: 'Horta';
    src: url('assets/fontes/Horta.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gliker Regular';
    src: url('assets/fontes/Gliker/Gliker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Bold';
    src: url('assets/fontes/Gliker/Gliker-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* GERAL */
body {
    font-family: 'Gliker Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #1A4789;
}

/* HEADER */
header {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Gliker Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    order: 1; /* Coloca a logo (imagem) na primeira posição */
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 70px;
    margin-right: 10px;
    height: 50px; /* Altura da imagem ajustada */
    width: auto; /* Largura ajustada automaticamente para manter a proporção */
}

nav {
    order: 3;
    overflow: hidden;
    display: flex;
}

nav a {
    display: block;
    color: #1A4789;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 30px;
}

nav a:last-child {
    margin-right: 70px;
}

nav a:first-child {
    margin-left: 0; 
}

nav::after {
    content: ''; 
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    width: 1px; 
    height: 30px; 
    /* background-color: #ccc;*/
}

nav a:hover {
    background-color: #15386c;
    color: white;
    border-radius: 30px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
    padding: 20px;
}

/* PRIMEIRA SECTION */
.welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section img {
    height: 40vh;
}

/* SOBRE NÓS */
#about {
    margin-left: 80px;
    margin-right: 80px;
}

#about h1 {
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#about p {
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-weight: normal;
}

/* CONTATO */
#contact {
    margin-left: 80px;
    margin-right: 80px;
}

#contact h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#contact p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-weight: normal;
}

/* FOOTER */
footer {
    background-color: #1A4789;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#footer p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-size: 1em;
}

/* PÁGINA DE LOGIN */
#login-body {
    background-color: #1A4789;
}

#login-box {
    background-color: #1A4789;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

#login-div {
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    height: 50%;
}

#header-escuro {
    background-color: #1A4789;
}

#header-escuro nav a {
    color: #ffffff;
}

.login {
    margin-bottom: 15px;
    width: 100%;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.login input::placeholder {
    color: #c2c0c0;
}

#login-box h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
}

#usuario {
    font-family: 'Gliker Regular', Arial, sans-serif;
    width: 100%;
}

#senha {
    font-family: 'Gliker Regular', Arial, sans-serif;
    width: 100%;
}

#entrar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #Cd16bc;
    color: white;
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#entrar:hover {
    background-color: #720c68;
}

/* Apoia.html */
#apoia {
    margin-left: 80px;
    margin-right: 80px;
}

#apoia h1{
    font-family: 'Horta', Arial, sans-serif;
    font-size: 2em;
}

#apoia p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-weight: normal;
}

/* pag de registro*/

#register-box {
    display: flex;
    background-color: #1A4789;
    width: 100%;
    text-align: left;
    justify-content: center;
    min-height: 80vh;
    color: #ffffff;
}

#register-div {
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}

#register-box h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Horta', Arial, sans-serif;
    font-size: 3em;
    box-sizing: border-box;
}
.campos-registro {
    margin-bottom: 15px;
    text-align: left;
    box-sizing: border-box;
}

.campos-registro label {
    display: block;
    margin-bottom: 5px;
}

.campos-registro input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.campos-registro input::placeholder {
    color: #c2c0c0;
}

#botao-registro {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #Cd16bc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#botao-registro:hover {
    background-color: #720c68;
}

#fullname,
#email,
#usuario-rg,
#senha-rg,
#confirmar-senha,
#botao-registro {
    font-family: 'Gliker Regular', Arial, sans-serif;
}

/* PÁGINA DE CONTATO */
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.company-card {
    width: 80%;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.developers-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.developer-card {
    width: 200px;
    background-color: #1A4789;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    transition: transform 0.8s, max-height 0.8s ease-in-out;
    max-height: 300px;
    border-radius: 30px;
    overflow: hidden;
}

.developer-card img {
    width: 80%;
    border-radius: 50%;
}

.developer-card .social-links {
    display: none;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.8s, height 0.8s ease-in-out, visibility 0.8s;
    height: 0;
}

.developer-card:hover .social-links {
    display: block;
    visibility: visible;
    height: auto;
    opacity: 1;
}

.developer-card:hover {
    transform: scale(1.05);
    max-height: 500px;
}

.social-links a {
    margin: 10px;
    text-decoration: none;
    color: #1A4789;
    display: block;
}

.social-links a:hover {
    color: #0077b5;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    font-family: Arial, sans-serif;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100%;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-card-front {
    background-color: #1A4789;
    color: #ffffff;
  }

  .flip-card-front img {
    width: 80%;
    border-radius: 50%;
  }
  
  .flip-card-back {
    display: flex;
    background-color: #ffffff; 
    color: #1A4789;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
  }

  .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ffffff;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 100%;
  }
  
  .button2:active {
    color: #ffffff;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #1A4789;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: none;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #1A4789;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #linkedinButton:hover:after{
    background-color: #0e76a8;
  }

  #linkedinButton:active{
    background-color: #0e76a8;
  }

  #githubButton:hover:after{
    background-color: #171515;
  }

  #githubButton:active{
    background-color: #171515;
  }

  #instagramButton:hover:after{
    background-color: #DD2A7B;
  }

  #instagramButton:active{
    background-color: #DD2A7B;
  }