@media (max-width: 480px) {
    #header-escuro {
        position: relative;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        margin-top: 20px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        position: absolute;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        height: 5vh;
        width: auto;
        margin: 0;
    }

    #nav-login {
        display: none;
    }

    nav {
        display: none;
    }

    #login-div {
        width: 80%;
    }

    #register-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #register-div {
        width: 80%;
        height: auto;
    }

    footer {
        width: 90%;
        padding: 20px;
    }

}