footer {
    background-color: #ffffff;
    color: #1A4789;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}

#footer p{
    font-family: 'Gliker Regular', Arial, sans-serif;
    font-size: 1em;
}

@media (max-width: 480px) {
    footer {
        width: 90%;
        padding: 20px;
        margin-top: 20px;
    }
}