@media (max-width: 480px) {
    header {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        margin-top: 10px;
    }

    #nav-buttons {
        display: none;
    }

    #nav-button-entrar {
        position: absolute;
        display: flex;
        margin: 0;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 10px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 5vh;
        width: auto;
        margin: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    nav {
        display: flex;
        align-items: center;
    }

}