@media (max-width: 480px) {
    header {
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        margin-top: 20px;
        height: 20px;
    }

    #nav-buttons.button2 {
        box-shadow: none;
        transition: none;
        background: none;
        color: #ffffff;
        padding: 10px;
        border: none;
        margin: 0;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        position: absolute;
        display: flex;
        height: 5vh;
        width: auto;
        margin: 30px;
        margin-top: 0;
        margin-bottom: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #1A4789;
        position: absolute;
        top: 60px;
        right: 0;
    }

    nav a {
        padding: 10px;
        text-align: center;
        margin: 0;
    }

    nav a:last-child {
        margin-right: 0;
    }

    .menu-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: block;
        cursor: pointer;
        padding: 8px 16px;
        margin-right: 15px;
    }

    .menu-icon .bar1, .menu-icon .bar2, .menu-icon .bar3 {
        width: 25px;
        height: 3px;
        background-color: #1A4789;
        margin: 4px 0;
        transition: 0.4s;
        border-radius: 3px;
        color: #ffffff;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
    }

    nav.show {
        display: block;
    }

    .homepg-s2, .homepg-s3, .homepg-s4, .homepg-s5, .homepg-s6, .homepg-s7 {
        padding: 20px;
    }

    .welcome-content {
        gap: 0;
    }

    .welcome-content div h1 {
        font-size: 3em;
    }

    .page-content h1 {
        font-size: 3.8em;
    }

    .page-content p {
        font-size: 1.3em;
    }

    .welcome-content p {
        font-size: 1.3em;
    }

    .wave {
        display: block;
        margin: 0;
        padding: 0;
        height: auto;
        overflow: hidden;
        line-height: 0; 
    }

    .wave svg {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    footer {
        width: 90%;
        padding: 20px;
    }

    @media (max-width: 768px) {
        .welcome-content {
            flex-direction: column;
            text-align: center;
        }
    
        .welcome-content div {
            max-width: 100%;
            margin: 0;
            padding: 10px;
        }
    
        .welcome-content h1 {
            font-size: 1.5em;
        }
    
        .welcome-content p {
            font-size: 1em;
        }
    }

}