/* HEADER */
header {
    background-color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Gliker Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .logo {
    order: 1;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-left: 70px;
    margin-right: 10px;
    height: 50px;
    width: auto;
  }
  
  nav {
    order: 3;
    overflow: hidden;
    display: flex;
  }
  
  nav a {
    display: block;
    color: #1A4789;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 30px;
  }
  
  nav a:last-child {
    margin-right: 70px;
  }
  
  nav a:first-child {
    margin-left: 0;
  }
  
  nav::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
  }
  
  #nav-button-entrar {
    box-shadow: none;
    font-family: 'Gliker Regular';
    color: #1A4789;
    padding: 1em;
    border-radius: 15px;
  }
  
  #nav-button-entrar:active {
    box-shadow: none;
  }
  
  #nav-button-entrar:before {
    box-shadow: none;
  }
  
  #nav-button-entrar:hover {
    color: #ffffff;
  }
  
  #nav-buttons {
    box-shadow: none;
    font-family: 'Gliker Regular';
    color: #1A4789;
    padding: 1em;
    border-radius: 15px;
  }
  
  #nav-buttons:active {
    box-shadow: none;
  }
  
  #nav-buttons:before {
    box-shadow: none;
  }
  
  #nav-buttons:hover {
    color: #ffffff;
  }
  
  .container {
    padding: 20px;
  }
  
  .menu-icon {
    display: none;
  }